*{
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar{
    width: 15px;

}
::-webkit-scrollbar-track{
    background:#6F1D1B;
    
}

::-webkit-scrollbar-thumb{
    background: #FFE6A7;
    border-radius: 10px
}


body{
    background-image: url("/IMAGES/backgroundmain.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.home{
    position: absolute;
    top: 3%;
    right: 2%;
    margin-right: 30px;
    font-size: 30px;
    border: 3px solid #6F1D1B;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    background-color: #FFE6A7;
    
}
.home a{
    text-decoration: none;
    color: black;
     
}

.home:hover{
    cursor: pointer;
}


.logo{
    width:180px;
    height: 180px;
    border-radius: 50%;
    
}
.logo-div{
    display: flex;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%,0);
}


h1{
    margin-top: 200px;
    text-align: center;
    font-size: 90px;
    text-shadow: 1px 1px whitesmoke;
    
    
}

.slogan{
    
    font-size: 40px;
    font-weight: 600;
    text-shadow: 1px 1px whitesmoke;
    margin-top: 5px;
    text-align: center;
    

}

.div-center{
    display: flex;
    justify-content: center;
   
}

.main-div{
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #FFE6A7;
    border: 5px solid #6F1D1B;

}

.for-flex{
    display: flex;

}

.main-div p{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: 5px;
    
    
}

.input-div{
    margin-right: 30px;
   
}

.input-div input{
    height: 40px;
    width:300px;
    font-size: 20px;
    text-indent: 10px;
    margin: 10px;
    border-radius: 5px;
}

.₹-flex{
    display: flex;
}

.₹-flex input{
    border: none;
    margin-left: 0px;
    height: 50px;
    width: 90px;
    text-align: center;
    
}

.for-hover{
    margin: 10px;
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    background-color: #6F1D1B;
    transition: 0.5s;
}

.for-hover:hover{
    cursor: pointer;
    transform: scale(1.1);
    z-index: 2;
}


.money-div p{
    font-size: 30px;
    margin-top: 8px;
    font-weight:600;
}

button{
    height: 50px;
    width:300px;
    font-size: 20px;
    text-indent: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    background-color: #6F1D1B;
}

button:hover{
    cursor: pointer;
}

.home-logo{
    display: none;
}

@media(max-width:500px){
   
    .div-center{
        display: flex;
        justify-content: center;
    }

    .main-div{
        width: 340px;
    }
    .main-div input{
        width: 160px;
        margin-left: 20px;

    }   

   

    .for-hover{
        width: 70px;
    }

    .money-div p {
        font-size: 30px;
       
        
    }

    button{
        width: 160px;
        margin-left: 20px;
        
    }
    .home-logo{
        display: block;
        
    }
    .home1{
        display: none;
    }

    .home{
        float: right;
        margin-right: 1px;
        margin-top: 1px;
    }

}
